<%= erb :'layouts/_header' %>

<form action="/pigeons/<%= @pigeon.id%>" method="post">
  <input type=hidden name="_method" method="PATCH">

<h1>Edit Pigeon</h1


<!-- form goes here -->
<label for="name">Edit Name</label>
<input type="text" name="name" value="<%= @pigeon.name%>">
<label for="color">Edit Color</label>
<input type="text" name="color"  value="<%= @pigeon.color%>">
<label for="gender">Edit Gender</label>
<input type="text" name="gender"  value="<%= @pigeon.gender%>">
<label for="lives">Edit Lives</label>
<input type="text" name="lives"  value="<%= @pigeon.lives%>">
<input type="submit" value="update">
<!--Be clear in what that button is doing...in this case its updating...
 although submission would work -->

 <form action="/pigeons/<%= @pigeon.id%>" method="get">
   <input type="submit" value="edit">
   <form action="/pigeons/<%= @pigeon.id%>" method="get">
  <input type="submit" value="show">
     <form action="/pigeons/<%= @pigeon.id%>" method="post">
     <input type=hidden name="_method" method="Delete">
     <input type="submit" value="destroy">

<!--Editing is the same as creating a new pigeon... however, you want to be
referencing the value of that particular pigeon -->


<a class="button" href="/pigeons">Cancel</a>

</form>
<!-- remember to close your form -->

<%= erb :'layouts/_footer' %>
